*{
    padding: 0px;
    margin: 0px;
}

/* navber section */
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 10px; */
}
.navber >li{
    list-style: none;
}
.navber >li >a{
    text-decoration: none;
    color: black;
}
.navber >ul{
    display: flex;
    gap: 15px;
}
.navber >ul >li{
    list-style: none;
}
.navber >ul >li >a{
    text-decoration: none;
    color: black;
}

/* banner section */


.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/donation0.jpg");
    width:auto;
    /* padding: 10px 10px; */
    height: 550px;
    background-size: cover;
    background-position: center;
  
    
}


html{
    scroll-behavior: smooth;
}
.box{
    background-color: rgb(95, 93, 93);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px 5px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px 5px;
    font-size: 20px;
    width: 200px;
    height: 50px;
}




/* Donate Today plan */

.donate-plan{
    margin-top: 120px;
    margin-bottom: 50px;
}

.plan{
    text-align: center;
    width: 100%;
    margin: auto;
}
/* .plan h1{
    font-size: 40px;
    padding: 10px 10px;
}
.plan p{
    font-size: 20px;
    padding: 10px 10px;
} */

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
}
.plan h1{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.plan p{
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
    margin: 0px 20px;
    color: rgb(0, 0, 0);
}
.card{
    margin-top: 20px;
    background-color: beige;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    /* width: 300px;
    height: 260px; */
}














@media screen and (max-width: 575.99px) {

    /* navber section */
        .navber{
            background-color: rgb(139, 139, 139);
            padding: 16px 10px;
            border-radius: 10px;
        }
        .About,.Contract{
            display: none;
        }
        .Login a{
            /* cursor: pointer; */
            font-size: 24px;
            font-weight: 600;
        }
        .navber> li a{
            font-size: 24px;
            font-weight: 600;
            color: rgb(5, 5, 5);
        }
        .Login a:hover{
            color: rgb(255, 0, 0);
        }

        /* banner section */
        .banner{
            background-image:none;
            background-color: rgb(146, 27, 27);
            width:auto;
            background-size: cover;
            background-position: center;
            padding: 10px 20px;
            text-align: center;
            border-radius: 10px;
            height: auto;
        }
        .banner >button{
            margin-top: 20px;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 600;
            border: none;
        }
        .banner >h1{
            text-align: center;
            padding-top: 50px;
            font-size: 33px;
            font-weight: 600;
            line-height: 50px;
      
        }
        .banner >p{
            text-align: center;
            padding-top: 20px;
            font-size: 20px;
            font-weight: 500;
            color: rgb(0, 0, 0);
        }

        /* Donate Today section */
        .Donate-today{
            text-align: center;
            margin-top: 120px;
            margin-bottom: 50px;
        }
        .Donate-today >h1{
            font-size: 33px;
            font-weight: 600;
        }
        .Donate-today >p{
            font-size: 20px;
            font-weight: 500;
            padding-top: 20px;
            padding-bottom: 20px;
            line-height: 30px;
            margin: 0px 30px;
            color: rgb(0, 0, 0);
        }
        .Donate-today >div{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .Donate-today >button{
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 600;
            border: none;
            margin-top: 20px;
            background-color: rgb(216, 230, 23);
        }
        .Donate-today >button:hover{
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 600;
            border: none;
            margin-top: 20px;
            background-color: rgb(90, 219, 4);
        }
        .Donate-today hr{
            width:70%;
            margin: auto;

        }


        /* Our Donate Plan */

        .card-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px 10px;
        }

        .card{
            /* padding: 20px 20px; */
            border-radius: 10px;
            text-align: center;
           
        }
        .card img{
            width: 60px;
            height: 60px;
            margin-top: 20px;
        }

        .card h3{
            font-size: 20px;
            font-weight: 600;
        }
        .card p{
            font-size: 18px;
            font-weight: 500;
            padding-top: 20px;
            padding-bottom: 20px;
            line-height: 30px;
            /* margin: 0px 30px; */
            color: rgb(0, 0, 0);
        }
        .plan{
            width: 80%;
        }
}

@media screen and (min-width: 576px) and (max-width: 767.99px) {
    .navber{
        background-color: blue;
    }
    .navber{
        
        padding: 16px 10px;
    }
    .Login a{
        /* cursor: pointer; */
        font-size: 24px;
        font-weight: 600;
    }
    .navber> li a{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .About{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .Contract{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .About a:hover
    {
        color: rgb(162, 238, 20);
    }
    .Contract a:hover{
        color: rgb(15, 221, 135);
    }
    .Login a:hover{
        color: rgb(69, 23, 238);
    }

    /* banner section */
    .banner{
        background-size: cover;
        background-position: center;
      text-align: center;
      /* padding-top: 50px;         */
    }
    .banner >button{
        margin-top: 40px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
    }
    .banner >h1{
        text-align: center;
        padding-top: 50px;
        font-size: 33px;
        font-weight: 600;
        line-height: 50px;
        color: rgb(230, 226, 20);
  
    }
    .banner >p{
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        font-weight: 500;
        color: rgb(196, 196, 196);
    
}



    /* Donate Today section */

   .Donate-today{
    width: auto;
    /* padding: 20px 20px; */
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
    
   }
   .Donate-today p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin: 0px 50px;
   }
   .Donate-today button{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    background-color: rgb(90, 219, 4);
   }

   .Donate-today hr{
    width:70%;
    margin: auto;
   }
   .box-container{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    margin: 0px auto;
   }
    
}

@media screen and (min-width: 768px) and (max-width: 991.99px) {
    .navber{
        background-color: brown;
    }
    .navber{
        padding: 16px 20px;
    }
    .Login a{
        /* cursor: pointer; */
        font-size: 24px;
        font-weight: 600;
    }
    .navber> li a{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .About{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .Contract{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .About a:hover
    {
        color: rgb(162, 238, 20);
    }
    .Contract a:hover{
        color: rgb(15, 221, 135);
    }
    .Login a:hover{
        color: rgb(69, 23, 238);
    }

    /* banner section */


    .banner{
        background-size: cover;
        background-position: center;
      text-align: center;
      /* padding-top: 50px;         */
    }
    .banner >button{
        margin-top: 40px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
    }
    .banner >h1{
        text-align: center;
        padding-top: 50px;
        font-size: 33px;
        font-weight: 600;
        line-height: 50px;
        color: rgb(230, 226, 20);
  
    }
    .banner >p{
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        font-weight: 500;
        color: rgb(196, 196, 196);
    
}


    /* Donate Today section */

    .Donate-today{
        text-align: center;
        margin-top: 120px;
        margin-bottom: 50px;
    }
    .Donate-today >h1{
        font-size: 33px;
        font-weight: 600;
    }
    .Donate-today >p{
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 30px;
        margin: 0px 30px;
        color: rgb(0, 0, 0);
    }
    .Donate-today >div{
        margin-top: 20px;
        display: flex;
       margin: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .Donate-today >button{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        margin-top: 20px;
        background-color: rgb(216, 230, 23);
    }
    .Donate-today >button:hover{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        margin-top: 20px;
        background-color: rgb(90, 219, 4);
    }
    .Donate-today hr{
        width:70%;
        margin: auto;

    }
}

@media screen and (min-width: 992px) and (max-width: 1199.99px) {
    .navber{    
        background-color: chartreuse;
    }
    .navber{
        padding: 16px 10px;
    }
    .Login a{
        /* cursor: pointer; */
        font-size: 24px;
        font-weight: 600;
    }
    .navber> li a{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .About{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .Contract{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .About a:hover
    {
        color: rgb(162, 238, 20);
    }
    .Contract a:hover{
        color: rgb(15, 221, 135);
    }
    .Login a:hover{
        color: rgb(69, 23, 238);
    }

    .banner{
        text-align: center;
        padding-top: 50px;
        color: rgb(255, 217, 0);
    }
    .banner >h1{
        padding-bottom: 20px;
        font-size: 33px;
    }
    .banner >p{
        padding-bottom: 20px;
        margin: 0px 30px;
    }
    .banner >button{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
    }



    
    /* Donate Today section */

    .Donate-today{
        text-align: center;
        margin-top: 120px;
        margin-bottom: 50px;
    }
    .Donate-today >h1{
        font-size: 33px;
        font-weight: 600;
    }
    .Donate-today >p{
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 30px;
        margin: 0px 30px;
        color: rgb(0, 0, 0);
    }
    .Donate-today >div{
        margin-top: 20px;
        display: flex;
       margin: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .Donate-today >button{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        margin-top: 20px;
        background-color: rgb(216, 230, 23);
    }
    .Donate-today >button:hover{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        margin-top: 20px;
        background-color: rgb(90, 219, 4);
    }
    .Donate-today hr{
        width:70%;
        margin: auto;

    }
}

@media screen and (min-width: 1200px) {
    .navber{    
        background-color: coral;
    }  
    .navber{
        padding: 16px 10px;
    }
    .Login a{
        /* cursor: pointer; */
        font-size: 24px;
        font-weight: 600;
    }
    .navber> li a{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .About{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .Contract{
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 5, 5);
    }
    .About a:hover
    {
        color: rgb(162, 238, 20);
    }
    .Contract a:hover{
        color: rgb(15, 221, 135);
    }
    .Login a:hover{
        color: rgb(69, 23, 238);
    }  

    /* banner section */

    .banner{
        background-size: cover;
        background-position: center;
      text-align: center;
      /* padding-top: 50px;         */
    }
    .banner >button{
        margin-top: 40px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
    }
    .banner >h1{
        text-align: center;
        padding-top: 50px;
        font-size: 33px;
        font-weight: 600;
        line-height: 50px;
        color: rgb(230, 226, 20);
  
    }
    .banner >p{
        margin:30px 50px;
        font-size: 20px;
        font-weight: 500;
        color: rgb(196, 196, 196);
        line-height: 50px;
    
}




    /* Donate Today section */

    .Donate-today{
        text-align: center;
        margin-top: 120px;
        margin-bottom: 50px;
    }
    .Donate-today >h1{
        font-size: 33px;
        font-weight: 600;
    }
    .Donate-today >p{
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 30px;
        margin: 0px 60px;
        color: rgb(0, 0, 0);
    }
    .Donate-today >div{
        margin-top: 20px;
        display: flex;
       margin: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .Donate-today >button{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        margin-top: 20px;
        background-color: rgb(216, 230, 23);
    }
    .Donate-today >button:hover{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        margin-top: 20px;
        background-color: rgb(90, 219, 4);
    }
    .Donate-today hr{
        width:70%;
        margin: auto;

    }
}